<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<title>{% block title %}{% endblock %}</title> 

<body>
    <h1> The Data Market </h1>
    <ul> 
        <li><a href=https://indianstockscanner-pre.herokuapp.com/index style="text-decoration: none; color: red; font-weight: 1000;">RECENT</a></li> 
        <li><a href=https://indianstockscanner-pre.herokuapp.com/index1 style="text-decoration: none; color: blue; font-weight: 1000;">ALLNEWS</a></li> 
        <li><a href=https://indianstockscanner-pre.herokuapp.com/niftyindices style="text-decoration: none; color: green; font-weight: 1000;">ALL SECTOR STOCK VIEW</a></li> 
        <li><a href=https://indianstockscanner-pre.herokuapp.com/change style="text-decoration: none; color: rgb(187, 180, 79); font-weight: 1000;">Change</a></li> 
        <li><a href=https://indianstockscanner-pre.herokuapp.com/mfchange style="text-decoration: none; color: rgb(74, 205, 223); font-weight: 1000;">MF Change</a></li> 
        <li><a href=https://indianstockscanner-pre.herokuapp.com//stockchange style="text-decoration: none; color: rgb(83, 44, 221); font-weight: 1000;">Stock Change</a></li>
        <li><a href=https://indianstockscanner-pre.herokuapp.com/stockhistory style="text-decoration: none; color: rgb(13, 206, 116); font-weight: 1000;">StockHistory</a></li>
        <li><a href=https://indianstockscanner-pre.herokuapp.com/twittersearch style="text-decoration: none; color: rgb(194, 215, 33); font-weight: 1000;">Tweet</a></li>
        <li><a href=https://indianstockscanner-pre.herokuapp.com/stockinfo style="text-decoration: none; color: rgba(10, 72, 116, 0.878); font-weight: 1000;">StockInfo</a></li>
        <a class="btn btn-2" href=https://indianstockscanner-pre.herokuapp.com/mmi style="text-decoration: none; color: black; font-weight: 1000;">MMI Indicator</a>
    
    </ul> 

    </html>
